.spacer{
padding:1rem
}

.pt-1{
  padding-top: 10px
}
.form-control{
  width: 300px !important;
}

.secondary-heading{
  padding-top: 10px;
  padding-left: 6vw;
}

.text-white{
  color: white !important
}

.text-dark{
  color:#333333 !important
}

.nav-link{
  margin-left: 1vw;
  margin-right: 1vw;
}

.text-bold{
  font-weight: bold
}

.text-bold-spaced{
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase
}

.fs-14{
  font-size: 14px;
}
/* Backgrounds */
.bg-dark{
  background: #333333 !important;
  height: 10vh !important;
}

.bg-red{
  background: #CC0000 !important;
  height: 10vh !important;
}
.bg-white{
  background: #FFFFFF !important;
  height: 14vh !important;
}

.logo{
  vertical-align: center
}